#skillsoft-catalogue td {
    vertical-align: top;
}

#skillsoft-catalogue td > div {
    overflow: auto;
    width: 100%;
    height: 500px;
}

#skillsoft-catalogue th a {
    font-size: 80%;
}

#skillsoft-catalogue ul {
    margin: 0 0 0 17px;
}

#skillsoft-catalogue li.skillsoft-group,
#skillsoft-catalogue li.category {
    list-style: none;
}

#skillsoft-catalogue li.skillsoft-group.collapsed > ul,
#skillsoft-catalogue li.category.collapsed > ul {
    display: none;
}

#skillsoft-catalogue li.category.expanded > a > img.expand,
#skillsoft-catalogue li.category.collapsed > a > img.collapse,
#skillsoft-catalogue li.skillsoft-group.expanded > a > img.expand,
#skillsoft-catalogue li.skillsoft-group.collapsed > a > img.collapse {
    display: none;
}

#skillsoft-catalogue li.category.drop-hover > a {
    font-weight: bold;
}

#skillsoft-catalogue li.skillsoft-asset img.delete {
    float: right;
}

#skillsoft-catalogue td.catalogue li.skillsoft-asset.imported {
    font-style: italic;
}

#skillsoft-catalogue td.categories li.skillsoft-asset.imported {
    font-weight: bold;
}

#skillsoft-catalogue .topics {
    font-size: 80%;
}

#skillsoft-catalogue .topics li {
    list-style: none;
    display: inline;
}

